<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <title>Youtube發燒影片</title>
  </head>
  <body>
    <div id="YThot" class="YThot container">
      <loading :loading="loading"></loading>

      <div class="header">
        <h1 id="header">{{ header }}</h1>
        <div id="menu" class="menu" class="btn-group">
          <button
            id="category"
            class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            影片分類
          </button>
          <div class="dropdown-menu" aria-labelledby="ytothers">
            <a
              href="#"
              class="dropdown-item"
              v-for="id in indexToCategory"
              @click="getYT(id)"
              >{{ category[id] }}</a
            >
          </div>
        </div>
      </div>
      <div class="row " v-for="(video, index) in videos" :key="index">
        <div class="img-wrap col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 ">
          <a
            class="link"
            :title="video.title"
            :href="video.url"
            target="_blank"
          >
            <img class="img" :src="video.imgUrl" alt="" />
            <span class="duration">{{ video.duration }}</span>
          </a>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8 about">
          <span class="order">#{{ index + 1 }}</span>
          <a class="link" :title="video.title" :href="video.url" target="_blank"
            ><h3 class="videoTitle">{{ video.title }}</h3>
          </a>
          <p class="description">{{ video.description }}</p>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

    <script src="main.js"></script>
  </body>
</html>
